<html th:replace="~{layout :: layout(~{::title}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UML Chars</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../../scripts/ListEditor.js"></script>
</head>
<body class="body">
<div>
    <form class="form" method="post">

        <div class="tab">
            <button class="tab-button-active" type="button" onclick="showTab(this, 'classes-tab')">Classes</button>
            <button class="tab-button" type="button" onclick="showTab(this, 'associations-tab')">Associations</button>
        </div>

        <div id="classes-tab" class="tab-content-active">
            <div id="classes"></div>
            <div class="form-row form-row-action">
                <button type="button" onclick="classesEditor.add()">Add Class</button>
            </div>
        </div>

        <div id="associations-tab" class="tab-content">
            <div id="associations"></div>
            <div class="form-row form-row-action">
                <button type="button" onclick="assocsEditor.add()">Add Association</button>
            </div>
        </div>

        <div class="form-row form-row-action">
            <span class="form-action-message" th:if="${form.valid} == false" th:text="${form.message}">Invalid Input</span>
            <button type="submit">Submit</button>
        </div>
    </form>

    <div>
        <pre th:text="${uml}">
            +-------+   +-------+
            | Hello |---| World |
            +-------+   +-------+
        </pre>
    </div>

    <div hidden id="classTemplate">
        <div class="form-row form-row-action">
            <button type="button" onclick="classesEditor.remove(this)"><i class="fa fa-trash"></i></button>
        </div>
        <div class="form-row">
            <div class="form-label"><label for="className">Class name</label></div>
            <div class="form-input">
                <input id="className" name="className" type="text" />
                <div class="form-input-message">
                </div>
            </div>
        </div>
    </div>

    <div hidden id="assocTemplate">
        <div class="form-row form-row-action">
            <button type="button" onclick="assocsEditor.remove(this)"><i class="fa fa-trash"></i></button>
        </div>
        <div class="form-row">
            <div class="form-label"><label for="assocFrom">From</label></div>
            <div class="form-input">
                <select id="assocFrom" name="assocFrom">
                    <option value="a">a</option>
                    <option value="b">b</option>
                </select>
                <div class="form-input-message">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-label"><label for="assocTo">To</label></div>
            <div class="form-input">
                <select id="assocTo" name="assocTo">
                    <option value="a">a</option>
                    <option value="b">b</option>
                </select>
                <div class="form-input-message">
                </div>
            </div>
        </div>
    </div>

    <script language="JavaScript" th:inline="javascript">
        var classNames = [
            /*[# th:each="className, stat : ${form.classNames}"]*/
            {
                "value": /*[[${className.value}]]*/ "",
                "valid": /*[[${className.valid}]]*/ true,
                "message": /*[[${className.message}]]*/ ""
            } /*[(${stat.size-1 > stat.index} ? ',':'')]*/
            /*[/]*/
        ];

        var assocs = [
            /*[# th:each="assocFrom, stat : ${form.assocFroms}"]*/
            {
                "assocFrom": {
                    "value": /*[[${assocFrom.value}]]*/ "",
                    "valid": /*[[${assocFrom.valid}]]*/ true,
                    "message": /*[[${assocFrom.message}]]*/ ""
                },
                "assocTo": {
                    "value": /*[[${form.assocTos[stat.index].value}]]*/ "",
                    "valid": /*[[${form.assocTos[stat.index].valid}]]*/ true,
                    "message": /*[[${form.assocTos[stat.index].message}]]*/ ""
                }
            } /*[(${stat.size-1 > stat.index} ? ',':'')]*/
            /*[/]*/
        ];
    </script>

    <script language="JavaScript">
        var classesEditor = new ListEditor("classTemplate", "classes",
            function(e, node, o) {
                e.initField(node.children.item(1).children.item(1), o);
            },
            function() {
                return { "value": "", "valid": true, "message": "" };
            }
        );

        var assocsEditor = new ListEditor("assocTemplate", "associations",
            function(e, node, o) {
                e.initField(node.children.item(1).children.item(1), o.assocFrom);
                e.initField(node.children.item(2).children.item(1), o.assocTo);
            },
            function() {
                return { "assocFrom": {value: "", "valid": true, "message": "" }, "assocTo": {value: "", "valid": true, "message": "" }};
            }
        );

        function showTab(b, id) {
            var active = document.getElementsByClassName("tab-content-active");
            for (var i = 0; i < active.length; i++) {
                active[i].setAttribute("class", "tab-content");
            }

            document.getElementById(id).setAttribute("class", "tab-content-active");

            var tabs = b.parentElement;
            for (var i = 0; i < tabs.children.length; i++) {
                tabs.children[i].setAttribute("class", "tab-button");
            }
            b.setAttribute("class", "tab-button-active");
        }


        for (var i in classNames) {
            classesEditor.init(i, classNames[i]);
        }

        for (var i in assocs) {
            assocsEditor.init(i, assocs[i]);
        }

        if (classesEditor.count() == 0) {
            classesEditor.add();
        }

    </script>

</div>
</body>
</html>